
.question {
    margin-bottom: 2%
}

.text-field {
    clear:both;
    padding: 1%;
    width: 60%;
}
.hist{
    overflow-y: auto;
    margin-bottom: 2%
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}