<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-6">
    <a class="navbar-brand logo" href="#"> <img src="/assets/logo/thrive-small.png"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
  <li class="nav-item">
          <a class="nav-link" href="#">Signup</a>
        </li>
  <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
    </div>
  </nav>