<div class="jumbotron">
    
  
 <h1>Welcome to Thrive</h1>
  
  This is a platform to aid refugees further their careers. Sign up today and start managing your career.
  <br>
   <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">New User? Get Started</a>
 </div>

<hr>
    <div class="row">
        <div class="col-md-3 col-md-4">
            <app-widget [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'Job Advisor'" ></app-widget>
        </div>
        <div class="col-md-3 col-md-4">
            <app-widget [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'" ></app-widget>
        </div>
        <!-- <div class="col-md-3 col-md-4">
            <app-widget [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'Job Cart'" ></app-widget>
        </div> -->
        <div class="col-md-3 col-md-4">
            <app-widget [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'Training'"></app-widget>
        </div>
    </div>
<hr/>
